// Google Font
@import url("https://fonts.googleapis.com/css2?family=Mirza:wght@600&display=swap");

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(255, 0, 204), rgb(26, 139, 214));
    font-size: 17px;
    font-family: "Mirza", cursive;
    direction: rtl;
}
